@font-face {
  font-family: "iconfont"; /* Project id 4093565 */
  src: url('iconfont.ttf?t=1685372127996') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e821";
}

