@font-face {
  font-family: "iconfont";
  src: url('iconfont.ttf?t=1685952844472') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e69e";
}

.icon-f-collect:before {
  content: "\e773";
}

.icon-setting:before {
  content: "\e610";
}

.icon-search:before {
  content: "\e6e1";
}

.icon-more:before {
  content: "\e83d";
}

.icon-add:before {
  content: "\e633";
}

.icon-biying:before {
  content: "\e62e";
}

.icon-baidu:before {
  content: "\e8cb";
}

.icon-guge:before {
  content: "\e664";
}

.icon-caidaniconshouyehui:before {
  content: "\e60b";
}

.icon-xiaochengxu:before {
  content: "\e619";
}

.icon-user:before {
  content: "\e821";
}